[submodule "lib/modern-gl"]
	path = lib/modern-gl
	url = https://github.com/moderngl/moderngl.git
[submodule "lib/pygame"]
	path = lib/pygame
	url = https://github.com/pygame/pygame.git
[submodule "lib/pyglm"]
	path = lib/pyglm
	url = https://github.com/Zuzu-Typ/PyGLM.git
[submodule "lib/numba"]
	path = lib/numba
	url = https://github.com/numba/numba.git
[submodule "lib/numpy"]
	path = lib/numpy
	url = https://github.com/numpy/numpy.git
[submodule "lib/pyimgui"]
	path = lib/pyimgui
	url = https://github.com/pyimgui/pyimgui.git
